{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Bienvenu dans votre BACKOFFICE</h1>

    <h4 class="text-center my-5">Vous pouvez administrer ici la totalité du blog, la gestion des articles, des catégories, des commentaires, et utilisateurs du blog</h4>

{% endblock %}
